html {
  box-sizing: border-box;
}

*,*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
}

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-login__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-login {
  padding-top: 121px;
  padding-bottom: 121px;
  background-image: url(/img/intro-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.site-login__head {
  margin: 0;
  padding: 0;
  width: 525px;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.520833px;
  color: #FFFFFF;
}

.site-login__text {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  width: 525px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.site-login__link {
  display: inline-block;
  text-decoration: none;
  background: #5E54A4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: 17px 112px;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
  color: #FFFFFF;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.site-login__link:hover {
  opacity: 0.8;
}

.site-login__link:active {
  opacity: 0.6;
}

.mini-txt {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
  color: #FFFFFF;
}

.user-intro {
  width: 540px;
  margin-top: 24px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
}

.input-group{
  width: 460px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
}

.input {
  outline: none;
  outline-style: none;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 32px;
  transition: border 0.3s ease,
  opacity 0.3s ease;
  text-transform: capitalize;
}

.input:hover {
  opacity: 0.8;
  font-weight: bold;
}

.input:active {
  border: 1px solid #5E54A4;
}

.input:active {
  border: 1px solid #5E54A4;
}

.input:focus {
  border: 1px solid #5E54A4;
}

.input-button {
  border: 1px solid transparent;
  background: #38CC8B;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  padding: 15px 134px;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.input-button:hover {
  opacity: 0.8;
}

.input-button:active {
  opacity: 0.5;
}

.intro-bottom__text {
  margin-top: 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  color: #BAB7D4;
}

.button-mini {
  text-decoration: none;
  font-weight: bold;
  color: #ff7979;
  transition: opacity 0.3s ease;
}

.button-mini:hover {
  opacity: 0.7;
}
















